 <%= form_for [post, @comment] do |form| %>
<article class="media space-x">
  <figure class="media-left">
    <p class="image is-64x64">
          <% if current_user.avatar.attached?  %>
              <%= image_tag current_user.avatar,size: '128' %>
          <% else %>
                 <img src="https://bulma.io/images/placeholders/128x128.png">
           <% end %>



    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <%= form.text_area :content ,class:'textarea', placeholder:"Add a comment..." %>
      </p>
    </div>
    <div class="field">
      <p class="control">
           <%= form.submit class: 'button' %>
      </p>
    </div>
  </div>
</article>
  <% end %>