<p>Username: <%= @user.first_name %></p>
<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>

      <%= friendship.friend.email %>
     
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>

</ul>