<h1><%= @user.first_name %> </h1>
<h1><%= @user.last_name %> </h1>
<h1><%= @user.email %> </h1>
<h1><% if current_user == @user %> </h1>
<%= link_to 'Edit Profile', edit_user_registration_path %>
<% end %>