
    <%= form_for( @post, :html => { role: "form"}) do |f| %>
          <%= f.label :content%><div>
      <%= f.text_area :content, placeholder: "What is on your mind" %></div>
      <div>
          <%= f.submit class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>

 