
<div class="columns is-mobile space-x">
  <div class="column is-6 is-offset-3">
    <%= render 'form'%>
    <%= link_to 'Back to posts', posts_path(@post), class: "button is-primary space-x"  %>
    </div>
  </div>
