// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.space-x{
	margin-top: 20px;
}
.d-flex{
	display:flex;
	justify-content:flex-start;
}
.mr-3{
	margin-right:10px;
}
.ml-3{
	margin-left:40px;
}
.p-10{
	padding:15px;
}
.mt-10{
	margin-top:70px;
}